<div class="fixed-top bg-dark navbar-home">
    <div class="row py-2">
        <div class="col-md-2 coluna"><h4><span class="badge bg-danger">PokéAPIWeb</span></h4></div>
        <div class="col-md-2 m-auto coluna"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success"><b>Regiões</b></button>
            <button type="button" class="btn btn-danger"><b>Pokémons</b></button>
            <button type="button" class="btn btn-info"><b>DataBase</b></button>
          </div></div>
    </div>
</div>
<div class="row divisor"></div>
<app-login></app-login>